/** CONTAINER **/
.mceContentBody {
    display: block !important;
}

.page { display:none;}

/** MAIN CONTENTS **/

.sakai_site .main_container
{ padding: 0; margin: 0 0 20px 0; overflow: hidden; }

.sakai_site .sakai_site_contents_main
{ margin: 0; padding: 10px; min-height: 350px; }

.sakai_site .content_top
{ background: url('/dev/images/content_tr.gif') top right no-repeat; padding: 0 5px 0 0; margin: 0; }

.sakai_site .content_top.content_top_rounded
{ background: url('/dev/images/content_tr_flip.png') top right no-repeat; padding: 0 5px 0 0; margin: 0; }

.sakai_site .content_top_inner
{ background: url('/dev/images/content_tl.gif') 0 0 no-repeat; margin: 0; height: 6px; }

.sakai_site .content_bottom.content_bottom_edit
{ float:left; width:916px; }


/* SITE MANAGEMENT NAV */
.site_management
{ margin:0; padding: 0; border: none; }

.site_management .sm_titlebar
{ background:transparent url(/dev/images/block_tr.png) no-repeat scroll right top; padding: 0 10px 0 0; height:50px; }

.site_management .sm_title
{ background:transparent url(/dev/images/site_management_icon.png) no-repeat scroll left top; color:#878A8C; font-size:1em; padding-left: 25px; }

.site_management .sm_content ul
{ margin: 0; padding: 0; }

.site_management .sm_content ul li
{ list-style-type: none; padding: 5px 0; }

.site_management .sm_content ul li a
{ color: #058EC4; font-weight: bold; }

.site_management .sm_content ul li p
{ color: #999999; }

.site_management .sm_bottom
{ background:transparent url(/dev/images/content_bl.png) no-repeat scroll left bottom; height: 5px; padding: 0 0 0 10px; }

.site_management .sm_bottom_inner
{ background:transparent url(/dev/images/content_br.png) no-repeat scroll right bottom; height: 5px; }

/** --------------------------------------------------------------------------------------------------- **/